.product_drag_area{  
    width:100%;  
    height:150px;  
    border:2px dashed grey;
    border-radius:5px;
    color:grey;  
    line-height:100px;  
    text-align:center;  
    font-size:18px; 
    background: white;
}
.product_drag_over{  
    color:#000;  
    border-color:#000;  
}  
.main_area{
    width: 100%;
    margin-top: 1px;
    height: auto;
    
}
.middle2{
    width: 70%;
    height: 100%;
    background: white;
    float: left;
    border-radius: 2em;
    margin-left: 10px;
}
.middle_content{
    width: 100%;
    height: 500px; 
    overflow: scroll;   
}
.cart3{
    width: 28%;
    float: right;
    border: 0;
    height: 100%;
    background: white;
    margin-right: 10px;
    border-radius: 2em;
}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    border-bottom: none;
    position: relative;
}
.tab .nav-tabs li{
    margin-right: 60px;
    z-index: 1;
    margin-top: 5px;
}
.tab .nav-tabs li:after{
    content: "";
    width: 100%;
    border: 1px solid #ccc6c6;
    position: absolute;
    top: 50%;
    right: -60%;
    z-index: -1;
}
.tab .nav-tabs li:last-child:after{
    border: none;
}
.tab .nav-tabs li a{
    display: block;
    padding: 15px 20px;
    background: #fff;
    font-size: 15px;
    font-weight: 600;
    color: grey;
    text-transform: uppercase;
    border-radius: 0;
    margin-right: 0;
    border: 2px solid grey;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
    color: #fff;
    border: 2px solid #956cae;
}
.tab .nav-tabs li a:after{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after{
    height: 100%;
    background: #956cae;
}
.tab .tab-content{
    padding: 20px 10px;
    margin-top: 0;
    font-size: 14px;
    color: #999;
    line-height: 26px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 767px){
    .tab .nav-tabs li{ margin: 0 25px 0 0; }
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
    }
    .tab .nav-tabs li:after{
        width: 0;
        height: 100%;
        top: auto;
        bottom: -60%;
        right: 50%;
    }
}
.see_previous{
	opacity: 0;
}

.see_previous,
.see_next{
	height: 100%;
	width: 50px;
	position: absolute;
	left: 0;
	display: flex;
	transition: all 0.2s ease-in-out;
}

.see_next{
	right: 0;
	left: auto;
}

.arrow_next{
	transform: rotate(180deg);
}

.arrow_previous,
.arrow_next{
	width: 100%;
	align-self: center;
}

.see_previous:hover,
.see_next:hover{
	background-color: rgba(0,0,0,0.5);	
}
.page{
	display: flex;
	width: 100vw;
	height: 100vh;
}

.main_container{
	width: 1000px;
	display: block;
	margin: 0 auto;
	height: 300px;
	align-self: center;
	position: relative;
	overflow: hidden;

	box-shadow: 0px 0px 4px black;
	border-radius: 5px;
}

.long_container{
	height: 100%;
}

.item{
	height: 100%;
	width: 200px;
	float: left;
}
.linkbutton {
     background:none!important;
     color:lightseagreen;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
